* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bebas Neue', 'Roboto', sans-serif;
  background-color: #191919;
  cursor: -webkit-grab;
  cursor: grab;
}

.titulo {
  width: 12%;
  position: fixed;
  margin: 2%  0 0 0;
  padding-left: 3.5%;
  color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  letter-spacing: 1.5px;
  z-index: 2;
}

.derivasMainLogo {
  width: 100%;
}

.derivasMainLogo img {
  width: 100%;
}

.button-menu {
  font-size: 25px;
  background-color: transparent;
  margin: 3% 2% 0 0;
  padding: 0;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #f1f1f1;
}

.titulo-menu {
  width: 56%;
}

.subtitulo-menu {
  font-size: 18px;
  margin: 0;
}

.titulo-museos {
  font-family: 'Bebas Neue';
  font-size: 30px;
  color: #4BCFAB;
}

button {
  -webkit-transition: display 0.5s ease;
  transition: display 0.5s ease;
  margin: 20px auto;
  color: #0f0e0f;
  border: 0;
  padding: 6px 10px;
  cursor: pointer;
}

span {
  color: black;
}

#menu-container {
  width: 400px;
  height: 100%;
  background-color: #333233;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.close-button {
  -webkit-transition: display 0.5s ease;
  transition: display 0.5s ease;
  display: none;
}

.header-menu {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu img {
  width: 6%;
  margin-right: 5%;
}

.body {
  margin-top: 10%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  height: 40%;
}

.body::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1440px) {
  .body {
    max-height: 390px;
  }
  .footer {
    max-height: 390px;
  }
}

.open {
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  left: 0;
}

.close {
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  left: -400px;
}

.header-menu span {
  cursor: pointer;
  margin: 40px 23px;
}

.icon-close {
  color: white;
}

.submenu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 87%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.submenu-header img {
  width: 23px;
}

.submenu-title {
  margin: 0;
}

.title-recorridos {
  color: #32C7A0;
}

.title-espacios {
  color: #E9DC42;
}

.title-obras {
  color: #D486B3;
}

.recorridos-line {
  background-color: #32C7A0;
}

.chevron {
  cursor: pointer;
}

.chevron-recorridos {
  color: #32C7A0;
}

.chevron-espacios {
  color: #E9DC42;
}

.chevron-obras {
  color: #D486B3;
}

.margin-menu {
  margin-top: 45px;
}

.espacios-line {
  background-color: #E9DC42;
}

.obras-line {
  background-color: #D486B3;
}

.line-top {
  width: 132px;
  height: 2px;
  margin-bottom: 10px;
  border-radius: 2%;
}

.list-menu {
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
  list-style: none;
  color: white;
  font-size: 12px;
  padding: 0;
  width: 345px;
  margin: 20px auto;
  opacity: 1;
  height: auto;
  visibility: visible;
}

.close-menu {
  opacity: 0;
  visibility: hidden;
  margin: 0 auto;
  height: 0;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
}

.list-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.list-menu li img {
  width: 30px;
}

.list-menu li p {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.list-menu li i {
  cursor: pointer;
  font-size: 15px;
}

.switch {
  cursor: pointer;
}

.active-switch {
  color: #e9dc42;
}

.accessLink {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}

.accessLink img {
  width: 45%;
  margin-left: 15%;
}

.item-link {
  width: 50%;
  margin-left: 15%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.footer {
  margin-top: 40%;
  max-height: calc(100vh - 200px);
  height: 20%;
}

.footer img {
  width: 45%;
  margin-left: 15%;
}

.footer p {
  width: 75%;
  margin-left: 15%;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.ig-link {
  width: 30%;
  margin-left: 15%;
}

.ig-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ig-link .ig-container img {
  width: 15%;
  margin-left: 0%;
}

.ig-link .ig-container h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.section-aboutUs {
  height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-aboutUs .title-container {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-aboutUs .title-container .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-aboutUs .title-container .title-box .title-about {
  font: 88px 'Bebas Neue';
  color: #30DDB0;
  margin: 0;
}

.section-aboutUs .title-container .info-pais {
  color: white;
  width: 120px;
  right: 0;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font: 15px 'Roboto';
  font-weight: bold;
}

.section-aboutUs .SA-main-container {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-aboutUs .SA-main-container .imgNcredits-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-aboutUs .SA-main-container .imgNcredits-container .img-container {
  height: 30%;
}

.section-aboutUs .SA-main-container .imgNcredits-container .img-container img {
  width: 460px;
}

.section-aboutUs .SA-main-container .imgNcredits-container .creditos-container {
  height: 70%;
}

.section-aboutUs .SA-main-container .info-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=styles.css.map */